{% extends "base.html" %}

{% block title %}Hidden coupons{% endblock %}

{% block body %}

<h1>Hidden coupons</h1>

<div class="row">

    {% for coupon in coupons %}

    <div class="column">
        <div class="card">
            <img class="card-image p-3" src="https://assets.scoupy.com/286/{{ coupon.image }}" alt="{{ coupon.title }}">
            <a class="hide-button" href="/coupons/{{ coupon.id_coupon }}/unhide">UNHIDE</a>
            <h3 class="card-title">{{ coupon.title }}</h3>
            <small class="card-text">{{ coupon.subtitle }}</small>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}